.block {
  position: relative;
  h1 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 25px;
  }
  h4 {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-bottom: 20px;
    letter-spacing: .5px;
    &:after {
      position: absolute;
      content: '';
      width: 34px;
      height: 2px;
      left: 0;
      bottom: -2px;
      background-color: #ed5454;
    }
  }
  p {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 27px;
  }
  ul {
    list-style: none;
  }
  .text {
    width: 400px;
    max-width: 400px;
    padding: 80px 15px;
    margin: auto;
  }
  .subtitle {
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 25px;
  }
  .link {
    letter-spacing: 0.5px;
    margin-bottom: 25px;
  }
  .desc {
    font-size: 20px;
  }
  .flow {
    font-size: 15px;
    color: #232323;
    opacity: 0.6;
  }
  &.alt {
    background: $alt-background;
  }
}

.flex-block {
  text-align: center;
  max-width: 1120px;
  margin: 0 auto 180px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text {
    margin-bottom: 24px;
  }
  img {
    width: 95%;
  }
  .figure {
    img {
      &.teacher9 {
        box-shadow: none;
        width: 120px;
        position: absolute;
        top: 10%;
        right: 20%;
      }
    }
  }
  p {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
  }
}

@media (min-width: 769px) {
  .block {
    .text {
      min-height: 550px;
      margin-left: 40px;
    }
    .image-wrapper {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      bottom: 0;
      padding-top: 20px;
      &.margin-top-lg {
        margin-top: 145px;
      }
    }
  }
}

@media (max-width: 767px) {
  .block {
    h1 {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -.1px;
      margin: 0 0 30px;
    }
    h4 {
      font-size: 14px;
      margin-bottom: 30px;
      padding-bottom: 15px;
      &:after {
        width: 36px;
        left: 44.5%;
      }
    }
    p {
      text-align: justify;
    }
    img {
      margin-bottom: 30px;
    }
    .text {
      width: 365px;
      padding-top: 60px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .subtitle {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 30px;
    }
    .link {
      margin-bottom: 0;
    }
  }
  .flex-block {
    flex-direction: column;
    margin-bottom: 120px;
    .figure {
      order: 2;
      position: relative;
      img {
        &.teacher9 {
          top: 18%;
          right: 15%;
          width: 110px;
        }
      }
    }
  }
}

@media (max-width : 374px) {
  .block {
    zoom: 0.85;
  }
}