html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

ul {
  &.wheel {
    text-align: left;
    li {
      &:before {
        content: '☉';
        display: inline-block;
        vertical-align: text-bottom;
        width: 25px;
        margin-left: -25px;
      }
    }
  }
}

@media (min-width: 768px) {
  .br-md-up::before {
    content: '';
    display: block;
  }
}

@media (max-width: 768px) {
  .br-sm-down::before {
    content: '';
    display: block;
  }
}

.site-width {
  max-width: 1120px;
  margin: auto;
}


.link, .item {
  .material-icons {
    font-size: 16px;
    vertical-align: middle;
  }
  &:hover {
    .material-icons {
      transition: transform 0.5s ease;
      transform: translate(3px, 0);
      &.external {
        transform: translate(3px, -3px);
      }
    }
  }
}

.one {
  visibility: hidden;
  margin-left: -15px;
  margin-right: 5px;
  &:after {
    visibility: visible;
    content: '🥇';
  }

}

/*
  14 terms
  16 about
  18 feature
  22 demo
  35 theme
*/

/* 滿版 */
#index,
body.cms-id-18,
body.cms-id-22,
body.cms-id-35 {
  #main-container {
    width: 100%;
    padding: 0;
  }
}

/* 隱藏麵包屑 */
#index,
body.cms-id-14,
body.cms-id-16,
body.cms-id-18,
body.cms-id-22,
body.cms-id-35 {
  .breadcrumb {
    display: none;
  }
}






