<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>smilepay_atm</name>
            <displayName><![CDATA[Smilepay 虛擬帳號]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[SmilePay Services ATM Payment]]></description>
            <author><![CDATA[SmilePay]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>您確定移除設定資料？</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>