$gray-darker: #232323;
$gray: #7A7A7A;
$gray-light: #F1F1F1;
$gray-lighter: #f6f6f6;

// $brand-primary: #2fb5d2; /* default */
$brand-primary: #67C8C2;
$brand-primary-hover: $brand-primary;
$brand-secondary: #f39d72; /* default */
$brand-secondary: #1278D4;
$brand-tertiary: #ed5454;
$brand-success: $brand-primary ; /* #4cbb6c */
$brand-warning: #ff9a52;
$brand-danger: #ed5454;

$brand-background: #fff;
$focus-background: $gray-light;
$overlay-background: rgba(255, 255, 255, 0.7);
$social-background: $gray;
$social-background-hover: $brand-primary;
$table-background: $brand-background;

$brand-border-color: rgba(0, 0, 0, 0.25);
$category-border-color: #e3e3e3;
$divider-border-color: $gray;
$darker-border-color: $gray-darker;
$hr-border-color: rgba(0, 0, 0, 0.1);
$menu-border-color: #fff;
$footer-border-color: #f6f6f6;

$tag-new: #96DCE0;
$tag-sale: #F3CB54;

$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$btn-hover-bg: $gray-light;
$btn-disabled-bg: $gray;
$input-background: $brand-background;
$input-border-color: $brand-border-color;
$input-radio-color: $brand-primary;
$tooltip-bg: $brand-danger;
$border-radius: 0;

$svg-primary-fill: #000;
$overlay-opacity: 0.5;

$close-color: #000;
$close-text-shadow: #fff;

// dark mode start

//$brand-primary: #c7c7c7;
//$brand-background: #000;
//$brand-border-color: rgba(255, 255, 255, 0.25);
//
//$brand-primary-hover: darken($brand-primary, 20%);
//$brand-success: lighten($brand-background, 30%);
//$gray-darker: $brand-primary;
//$gray: $brand-primary;
//$gray-light: lighten($brand-background, 10%);
//$gray-lighter: lighten($brand-background, 20%);
//
//$focus-background: lighten($brand-background, 20%);
//$overlay-background: rgba(0, 0, 0, 0.25);
//$social-background: $brand-background;
//$social-background-hover: lighten($social-background, 20%);
//$table-background: lighten($brand-background, 30%);
//
//$category-border-color: $brand-border-color;
//$divider-border-color: $brand-border-color;
//$darker-border-color: $gray-darker;
//$hr-border-color: $brand-border-color;
//$menu-border-color: $brand-border-color;
//$footer-border-color: $brand-border-color;
//
//$btn-primary-color: $brand-primary;
//$btn-primary-bg: $brand-background;
//$btn-primary-border: $brand-border-color;
//$btn-hover-bg: lighten($btn-primary-bg, 10%);
//$btn-disabled-bg: $brand-background;
//$input-background: lighten($btn-primary-bg, 20%);
//$input-border-color: $brand-border-color;
//$input-radio-color: $btn-primary-color;
//
//$svg-primary-fill: $brand-primary;
//$overlay-opacity: 0.85;
//
//$close-color: $brand-primary;
//$close-text-shadow: $brand-background;

// dark mode end




$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;

$warning: #FF9A52;
$warning-hover: #FDE7BB;

$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;

$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;

$base-font-size: 1rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;

$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$display5-size: 1.1rem;

$text-muted: $gray;

$NotoSansPath: "~notosans-fontface/fonts";
$NotoSansVersion: "1.0.1";

$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: 700;