
.idea/

public/app/cache/*
public/app/config/parameters.php

public/img/tmp/*
public/img/s/*
!public/img/tmp/index.php
!public/img/s/index.php

public/themes/*/_dev/node_modules/*

public/.htaccess
public/config/settings.inc.php

public/modules/ps_imageslider/images/fileType


### composer 相關
public/composer.json
public/composer.lock
public/composer.phar
public/package.json
public/package-lock.json

public/modules/*/composer.json
public/modules/*/composer.lock
public/modules/*/composer.phar
public/modules/*/Readme.md

public/vendor/beberlei/DoctrineExtensions/tests/*
public/vendor/greenlion/php-sql-parser/tests/*
public/vendor/pear/archive_tar/tests/*
public/vendor/react/promise/tests/*
public/vendor/rize/uri-template/test/*
public/vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Tests/*
public/vendor/symfony/symfony/src/Symfony/Bridge/PhpUnit/Tests/*
public/vendor/sensio/framework-extra-bundle/Tests/*
public/vendor/twig/twig/test/*
public/vendor/twig/twig/doc/*

######## shop*.json
public/config/themes/simplicity*/shop1.json
public/config/themes/simplicity*/shop2.json
public/config/themes/simplicity*/shop3.json
public/config/themes/simplicity*/shop4.json

######## 分類 public/img/c/

## public/img/c/index.php 有進版號

public/img/c/fileType

###

public/img/c/15*.jpg

public/img/c/tw.jpg
public/img/c/zh.jpg
public/img/c/ja.jpg
public/img/c/en.jpg


######## 屬性 public/img/co/

## public/img/co/index.php 有進版號

public/img/co/fileType

###

public/img/co/6.jpg
public/img/co/7.jpg
public/img/co/8.jpg


######## 商品 public/img/p/

## public/img/p/index.php 有進版號

public/img/p/fileType

####

public/img/p/1/1*.jpg
public/img/p/1/fileType
public/img/p/1/index.php

public/img/p/1/0/10*
public/img/p/1/0/fileType
public/img/p/1/0/index.php

public/img/p/1/1/11*
public/img/p/1/1/fileType
public/img/p/1/1/index.php

public/img/p/1/2/12*
public/img/p/1/2/fileType
public/img/p/1/2/index.php

public/img/p/1/3/13*
public/img/p/1/3/fileType
public/img/p/1/3/index.php

public/img/p/1/4/14*
public/img/p/1/4/fileType
public/img/p/1/4/index.php

public/img/p/1/5/15*
public/img/p/1/5/fileType
public/img/p/1/5/index.php

public/img/p/1/6/16*
public/img/p/1/6/fileType
public/img/p/1/6/index.php

public/img/p/1/7/17*
public/img/p/1/7/fileType
public/img/p/1/7/index.php

public/img/p/1/8/18*
public/img/p/1/8/fileType
public/img/p/1/8/index.php

public/img/p/1/9/19*
public/img/p/1/9/fileType
public/img/p/1/9/index.php

####

public/img/p/2/2*.jpg
public/img/p/2/fileType
public/img/p/2/index.php

public/img/p/2/0/20*
public/img/p/2/0/fileType
public/img/p/2/0/index.php

public/img/p/2/1/21*
public/img/p/2/1/fileType
public/img/p/2/1/index.php

public/img/p/2/2/22*
public/img/p/2/2/fileType
public/img/p/2/2/index.php

public/img/p/2/3/23*
public/img/p/2/3/fileType
public/img/p/2/3/index.php

public/img/p/2/8/28*
public/img/p/2/8/fileType
public/img/p/2/8/index.php

public/img/p/2/9/29*
public/img/p/2/9/fileType
public/img/p/2/9/index.php

####

public/img/p/3/3*.jpg
public/img/p/3/fileType
public/img/p/3/index.php

public/img/p/3/0/30*
public/img/p/3/0/fileType
public/img/p/3/0/index.php

public/img/p/3/1/31*
public/img/p/3/1/fileType
public/img/p/3/1/index.php

public/img/p/3/2/32*
public/img/p/3/2/fileType
public/img/p/3/2/index.php

public/img/p/3/3/33*
public/img/p/3/3/fileType
public/img/p/3/3/index.php

public/img/p/3/4/34*
public/img/p/3/4/fileType
public/img/p/3/4/index.php

public/img/p/3/5/35*
public/img/p/3/5/fileType
public/img/p/3/5/index.php

public/img/p/3/6/36*
public/img/p/3/6/fileType
public/img/p/3/6/index.php

####

public/img/p/6/6*.jpg
public/img/p/6/fileType
public/img/p/6/index.php

####

public/img/p/7/7*.jpg
public/img/p/7/fileType
public/img/p/7/index.php

####

public/img/p/tw.jpg
public/img/p/tw-default-home_default.jpg
public/img/p/tw-default-large_default.jpg
public/img/p/tw-default-small_default.jpg
public/img/p/zh.jpg
public/img/p/zh-default-home_default.jpg
public/img/p/zh-default-large_default.jpg
public/img/p/zh-default-small_default.jpg
public/img/p/ja.jpg
public/img/p/ja-default-home_default.jpg
public/img/p/ja-default-large_default.jpg
public/img/p/ja-default-small_default.jpg
public/img/p/en.jpg
public/img/p/en-default-home_default.jpg
public/img/p/en-default-large_default.jpg
public/img/p/en-default-small_default.jpg

######## 貼紙 public/img/cms/sticker/
public/img/cms/sticker/kindness.svg
public/img/cms/sticker/limited.svg
public/img/cms/sticker/new.svg
public/img/cms/sticker/pre-order.svg
public/img/cms/sticker/recommend.svg
public/img/cms/sticker/romantic.svg
public/img/cms/sticker/global-free-shipping.svg
public/img/cms/sticker/funny.svg
public/img/cms/sticker/environmentally-friendly.svg
public/img/cms/sticker/cruelty-free.svg


#### 其他
public/img/logo_mail.jpg
public/modules/ps_banner/img/sample.png


######## 以下參考 https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/.gitignore

public/var/*
!public/var/cache
public/var/cache/*
!public/var/cache/.gitkeep
!public/var/logs
public/var/logs/*
!public/var/logs/.gitkeep
!public/var/sessions
public/var/sessions/*
!public/var/sessions/.gitkeep
!public/var/SymfonyRequirements.php
!public/var/.htaccess