.pp {

	&__flex {
		display: flex !important;
	}

	&__align-items-center {
		align-items: center !important;
  }

  &__justify-content-center {
		justify-content: center !important;
  }

	&__hidden {
		display: none;
	}

	&__d-table-cell {
		display: table-cell;
	}

	&__position-relative {
		position: relative;
	}

}
