html {
  scroll-behavior: smooth;
}

#roselle-navbar-placeholder,
#wrapper,
#carousel,
#products .product-description,
.product-miniature .product-description {
  background: $primary-background;
}

#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
  background: $primary-background;
}

#products .variant-links,
.featured-products .variant-links,
.product-accessories .variant-links,
.product-miniature .variant-links {
  background: $primary-background;
}

/*
.banner img {
  width: 100%;
}
*/

#wrapper {
  padding-top: 30px;
  padding-bottom: 0;
  .breadcrumb {
    padding-top: 15px;
  }
  .banner {
    margin-bottom: 0;
  }
}

#main {
  min-height: 450px;
}

/* intro */
.intro {
  padding-top: 30px;
  padding-bottom: 80px;
  min-height: 450px;
  background: $primary-background;
  h1 {
    font-size: 35px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 16px;
    background: url("https://roselle.tekapo.space/img/cms/roselle/roselle-line.png") repeat-x center 9px;
    line-height: 20px;
    span {
      background: $primary-background;
      padding: 0 10px;
    }
  }
  p {
    font-size: 16px;
    color: #373a3c;
    text-align: justify;
    padding: 20px 0;
  }
  img {
    max-width: 100%;
  }
  /*
  hr {
    padding: 0;
    border: none;
    border-top: 1px solid #373a3c;
    color: #373a3c;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    &:after {
      content: "✿";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: $primary-background;
    }
  }
  */
}

.copyright {
  .material-icons {
    font-size: 16px;
    margin: 0 3px;
    color: $primary-link-color;
    animation: blinker 1.5s linear infinite;
  }
}

@media (max-width : 374px) {
  .intro {
    zoom: 0.85;
  }
}
