#header {
  position: relative;

  #_desktop_search_me,
  #_desktop_currency_selector,
  #_desktop_language_selector,
  #_desktop_user_info,
  #_desktop_cart {
    margin-top: 0px;
  }

  .navbar-fixed-top {
    top: 0;
    position: fixed;
    border-width: 0 0 1px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.5px 2px -1px rgba(0, 0, 0, .75);
    /* transition: all 0.6s; */
    z-index: 100;
  }

  .header-nav {
    .right-nav {
      position: relative;
      z-index: 11;
    }
    .blockcart {
      margin-bottom: 0;
    }
    .user-info {
      margin-bottom: 0;
    }
  }

  .header-top {
    .logo-wrapper {
      margin: 0;
      padding: 0;
      padding-top: 4px;
      position: absolute;
      z-index: 9;
      top: -50px;
      left: 0;
      display: block;
      width: 100%;

      a {
        max-width: 275px;
        display: block;
        margin: auto;
        transition: all 0.6s;
      }

      img {
        max-width: 100%;
        /*
        border: 6px solid #fff;
        border-radius: 100px;
        */
      }

      .logo {
        display: block;
        height: auto;
        max-height: initial;
        transition: all 0.4s ease 0s;
      }

      &.shrink {
        img {
          border-width: 2px;
        }
        a {
          max-width: 85px;
        }
      }
    }

    .menu-wrapper {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 10;
      width: 100%;
      .menu {
        width: 100%;
      }
      .top-menu {
        margin: 0;
        li:nth-child(5),
        li:nth-child(6),
        li:nth-child(7) {
          float: right;
        }
        li:nth-of-type(1n+8) {
          display: none;
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -40px;
    z-index: 99;
    a {
      color: #fff;
      font-size: 18px;
      /*margin-left: -35px;*/
      height: 40px;
      display: block;
      text-align: center;
      border: 1px solid #fff;
      padding: 9px 25px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

@media (min-width: 992px) {
  #header {
    .header-top {
      .menu-wrapper {
        .top-menu {
          a[data-depth="0"] {
            padding-right: 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #header {
    .header-top {
      .logo-wrapper {
        .logo {
          margin-left: 90px;
        }
        &.shrink {
          .logo {
            margin-left: 35px;
          }
        }
      }
      .menu-wrapper {
        .top-menu {
          li:nth-child(5) a[data-depth="0"]  {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #header {
    .header-top {
      background: transparent;
    }
  }

  .carousel .carousel-item img {
    /*max-width: initial;
    height: 70vh;*/
  }

  .roselle-bottom-image {
    background-position-x: -500px;
  }
}