/* text color */
$footer-icon-color: #7a7a7a;

/* link color */
$primary-link-color: #c42c2e;
$primary-link-hover: #9c2324;
$primary-link-disabled-hover: #7a7a7a;

/* background color */
$primary-background: #f1ede7;