$primary-color: #2fb5d2;

/* link color */
$primary-link-color: #2fb5d2;
$primary-link-hover: #2692A9;

/* background color */
$primary-background-color: #000;
$primary-background-hover: #000;
$primary-background-disabled-hover: #7a7a7a;
