@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/header";
@import "components/checkout";
@import "components/customer";
// @import "components/forgotten-password";
// @import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
// @import "components/block-reassurance";
@import "components/quickview";
// @import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/markdown";
@import "components/msc";
@import "components/faq";
@import "components/cms";
@import "components/socialfollow";
@import "components/sociallogin";

// @import "components/sitemap";

/*** WRAPPER ***/
#wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  .banner {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    img {
      // box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
      width: 100%;
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;

      i.material-icons {
        transform: rotate(270deg);
        font-size: 14px;
        color: $breadcrumb-color;
      }

      &::after {
        /*
        content: "/";
        color: $gray;
        margin: 0.3125rem;
        */
      }
      /*
      &:last-child {
        content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
      }
      */
      a {
        color: $breadcrumb-color;
        font-size: 14px;
      }
    }
  }
}
#index, #contact {
  #wrapper {
    .breadcrumb {
      display: none;
    }
  }
}

/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  /*padding-top: 2.5rem;*/
}

/*** Responsive part ***/
@include media-breakpoint-up(md) {
  #wrapper {
    min-height: 400px;
  }
}
@include media-breakpoint-down(lg) { /* 1200px 以下 */
}
@include media-breakpoint-down(md) { /* 992px 以下 */
  .container {
    max-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 15.63rem;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) { /* 768px 以下 */
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* bootstrap default override */
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  background-color: transparent;
}

/* suzy */

.zoom-90 {
  zoom: 0.9;
}

.zoom-85 {
  zoom: 0.85;
}

.zoom-80 {
  zoom: 0.8;
}

#content-wrapper.right-column {
  padding-left: 0;
}

@include media-breakpoint-down(sm) {
  .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }

  .iframe-container iframe,
  .iframe-container object,
  .iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#content-hook_payment_return,
#content-hook_order_confirmation,
#content-hook_display_order_detail {
  margin-bottom: 20px;
  .text-block {
    line-height: 35px;
  }
}

.svg-primary-fill {
  fill: $svg-primary-fill;
}

button:focus {
  outline: 0;
}

.modal-backdrop.in {
  opacity: $overlay-opacity;
}

.separator {
  margin: 0;
  border-color: $brand-border-color;
}

.table {
  tbody {
    td {
      background: $table-background;
    }
  }
}

.table-bordered {
  thead {
    th, td {
      border-bottom-width: 1px;
    }
  }
  th, td {
    border: 1px solid $table-border-color;
  }

  &.table-order {
    th, td {
      border: 1px solid $gray-lighter;
    }
  }
}

img.lazyload:not([src]) {
  // visibility: hidden;
  opacity: 0.001;
}


// dark mode

//.btn-primary {
//  @include button-variant-lighten($btn-primary-color, $btn-primary-bg, $btn-primary-border);
//}
//
//.facebook {
//  @include share-buttons('facebook', '');
//}
//.line {
//  @include share-buttons('line', '');
//}
//.weibo {
//  @include share-buttons('weibo', '');
//}
//.twitter {
//  @include share-buttons('twitter', '');
//}
//.googleplus {
//  @include share-buttons('gplus', '');
//}
//.pinterest {
//  @include share-buttons('pinterest', '');
//}
