.chalkboard {
  text-align: left;
  font-size: 18px;
  color: #E8E8E8;
  display: block;
  min-width: 300px;
  width: 80%;
  height: 80%;
  margin: 30px auto 0 auto;
  background-color: #497959;
  padding: 20px 30px;
  overflow-y: auto;
  border-radius: 10px;
  border: #B78240 solid 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 0.1em 0.1em 0 0.1em;
    width: 50px;
    height: 8px;
    background: #f1f1f1;
    top: 45%;
    right: 25%;
    margin-top: 75px;
    margin-right: 60px;
    box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
  }
}