$primary-color: #F0648F;

/* link color */
$primary-link-color: #F0648F;
$primary-link-hover: #EB366C;

/* background color */
$primary-background-color: #000;
$primary-background-hover: #000;
$primary-background-disabled-hover: #7a7a7a;