$primary-color: #000;

/* link color */
$primary-link-color: #7a7a7a;
$primary-link-hover: #000;

/* background color */
$primary-background-color: #000;
$primary-background-hover: #000;
$primary-background-disabled-hover: #7a7a7a;