.demo {
  .quote {
    padding: 58px 0 64px 0;
  }
  .row {
    margin: 0;
  }
  .item {
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    min-height: 550px;
    transition: .2s all ease-in-out;
    img {
      border: 1px solid $border-color;
    }
    ul {
      list-style: none;
      margin-top: 20px;
      padding-left: 0;
      li {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        border: 1px solid $border-color;
      }
    }
    h6 {
      font-size: 20px;
    }
    /*
    &:hover {
      padding-top: 25px;
      margin-left: -3px;
      margin-right: -3px;
      box-shadow: 7px 7px 23px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
      li {
        background: $theme-green-color;
        color: #fff;
      }
      h6 {
        color: $theme-green-color;
      }
    }
    */
  }
}

@media (min-width: 769px) {
  .block {
    .text {
      min-height: 450px;
    }
  }
}

@media (max-width: 767px) {
  .block {
    .text {
      margin-bottom: 46px;
    }
  }
  .item {
    padding: 20px 10px;
  }
}






