#cms.cms-id-56 {
  main {
    background-color: rgb(229, 247, 246);
  }
}

.free-trial {
  .header-card {
    background-image: url(https://lh5.googleusercontent.com/-4p_5C-hm9nGZG3WPQzd1TDHD4hpoDXDaA9_4TJaOD5nOLcGhOhh-00zg1UWXxQNxORDB2fTBNrQdSrqHkUgAuP1xLybGAskSEiy9sqiyXdPGE03LtBHkWBg50uu=w2284);
    background-size: cover;
    background-position: center;
    max-height: 22.5vw;
    max-width: 90vw;
    height: 160px;
    width: 640px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-top: 12px;
    margin: auto;
  }
}