#right-column {

}

.blog__articles {

  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;

  float: left !important;
}

.blog__article {

  clear: both;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
  background: #fff;

  .article__image--href {
    height: 200px;
    overflow: hidden;
  }

  .article__image {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center center !important;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    // min-height: 72px;

    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }

  }

  .article-preview {
    padding: 30px;
  }

  .article__date {
    margin: 10px 0 0 0;
    color: $gray-dark;
    font-size: 14px;

    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  .article-preview__content {
    margin: 10px 0 0 0;

    // text-align: left;
    text-align: justify;

    // line-height: 26px;
    // letter-spacing: 1px;
    color: #7A7A7A;
    font-size: 14px;
  }

  .article__read-more {
    padding: 10px;
    margin: auto auto 40px auto;
    // width: 80%;
    width: 80%;
    color: #ffffff;

    // background: #313131;
    // border-radius: 30px;

    background: $gray;

    text-align: center;

    transition: all 0.3s ease-in;
    &:hover {
      // background: #888888;
      background: $brand-primary;
    }
  }
}

#content-wrapper {

  .blog__article {
    width: 31.6%;
  }

  &.left-column, &.right-column {
    .blog__article {
      width: 47.5%;
    }
  }
}

.article__sidebar {
  // margin-top: 50px;
  width: 100%;
  max-width: 300px;
}

.article__newposts,
.article__hashtags {

  width: 100%;
  float: right !important;
  border: 1px solid #BABABA;
  background: #FFFFFF;
  /* box-shadow: 2px 4px 15px 0 rgba(0,0,0,0.03); */
  padding: 40px;
  padding: 20px;
  // margin-bottom: 40px;
  margin-bottom: 20px;
  font-size: 14px;

  .block-categories {
    // border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 0;
    .category-top-menu {
      margin-bottom: 0;
    }
    .category-sub-menu li[data-depth="0"] {
      &:last-child {
        border-bottom: none;
        padding-bottom: 10px;
      }
    }
  }


  .article__newpost {
    border-top: solid 1px #dddddd;
    padding: 20px 0;

    .title {
      color: #2D2D2D;
      margin-bottom: 10px;
    }
  }

  a:hover {
    .article__newpost {
      .title {
        color: $brand-primary;
      }
    }
  }



  h2 {
    font-size: 21px;
    line-height: 25px;
  }

  .date {
    color: #ABABAB;
    line-height: 12px;
  }
}

.article__hashtags {
  color: #3C3C3C;
  span {
    padding-right: 20px;
    display: inline-block;
    a {
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.article {
  .article__title {
    font-size: 36px;
    color: #323232;
    line-height: 36px;
  }
  .article__date {
    font-size: 14px;
    color: #ABABAB;
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .article__content {
    font-size: 14px;
    line-height: 2.5;
  }
}


@include media-breakpoint-up(md) {

  .blog__article:nth-child(3n+2) {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }

  &.left-column, &.right-column {

    .blog__article:nth-child(3n+2) {
      margin-right: 0;
      margin-left: 0;
    }
    .blog__article:nth-child(2n) {
      // margin-right: 2.5%;
      margin-left: 2.5%;
    }
  }

}

@include media-breakpoint-down(sm) {
  .blog__article {
    width: 100% !important;
  }

  .article__sidebar {
    max-width: 100%;
  }

  #left-column,
  #right-column {
    padding: 0;
  }

}

body {
  // background: #F7F7F7;
}