.cms-category-desc {
  margin-bottom: 50px;
}

.cms-page-list,
.cms-subcategory-list {
  li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 33%;
    &:nth-child(3n) {
      padding-left: 10px;
    }
    &:nth-child(3n+1) {
      padding-right: 10px;
    }
    &:nth-child(3n-1) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .cms-page-desc,
  .cms-subcategory-desc {
    color: $gray-darker;
    font-size: 15px;
  }

}

@include media-breakpoint-down(md) {
  .cms-page-list,
  .cms-subcategory-list {
    li {
      width: 100%;
      padding: 10px 0;
      &:nth-child(3n),
      &:nth-child(3n+1),
      &:nth-child(3n-1) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}