.block_newsletter {
  @include search-box;
  font-size: $font-size-sm;
  margin-bottom: 0.625rem;
  p {
    padding-top: $small-space;
  }
  form {
    .input-wrapper {
      overflow: hidden;
    }
    input[type=text] {
      background: $gray-light;
      color: $gray;
      border: $input-btn-border-width solid $input-border-color;
      padding: 0.5rem 1rem;
      &:focus {
        background-color: $input-background;
        // border: 3px $brand-primary-hover solid;
        // padding: 8px 8px 9px;
        outline: 0;
        border: $input-btn-border-width solid $input-border-color;
        color: $gray-darker;
      }
      width: 100%;
    }
    input {
      height: 42px;
      box-shadow: none;
    }
  }
  /*margin-bottom: 0.625rem;*/
}
.block-contact {
  font-size: 0.875rem;
  .block-contact-title{
    color:$gray-darker;
  }
  ul {
    color: $gray;
    .icon {
      display: inline-block;
      width: 30px;
      vertical-align: bottom;
    }
    img {
      width: 24px;
    }
  }
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary-hover;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: $font-weight-bold;
  // font-size: $base-font-size;
}
.block-social {
  text-align: center;
  margin-top: 1em;
  ul {
    // display: flex;
    @include media-breakpoint-down(sm) {
      flex-flow: wrap;
    }
  }
}
.block-social li {
  height: 2.5rem;
  width: 2.5rem;
  background-color: $social-background;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0.125rem;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    // height: 2rem;
    // width: 2rem;
    // margin-right: 1.3rem;
    // margin-bottom: 1.3rem;
    background-size: contain;
  }

  &:hover {
    background-color: $social-background-hover;
  }
  a {
    display: block;
    height: 100%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    &:hover {
      color: transparent;
    }
  }
}
.facebook {
  @include share-buttons('facebook', '-color');
}
.line {
  background-position-x: -2px;
  background-position-y: -2px;
  @include share-buttons('line', '-color');
}
.weibo {
  @include share-buttons('weibo', '-color');
}
.twitter {
  @include share-buttons('twitter', '-color');
}
.googleplus {
  @include share-buttons('gplus', '-color');
}
.pinterest {
  @include share-buttons('pinterest', '-color');
}



#block_myaccount_infos{
  .myaccount-title a{
    color:$gray-darker;
  }
}

.youtube {
  background-image: url(../img/youtube.svg);
}
.rss {
  background-image: url(../img/rss.svg);
}
.vimeo {
  background-image: url(../img/vimeo.svg);
}
.instagram {
  background-image: url(../img/instagram.svg);
}
.flickr {
  background-image: url(../img/flickr.svg);
}
.etsy {
  background-image: url(../img/etsy.svg);
}
.pinkoi {
  background-image: url(../img/pinkoi.svg);
}
.linkedin {
  background-image: url(../img/linkedin.svg);
}
.tripadvisor {
  background-image: url(../img/tripadvisor.svg);
}
.footer-container {
  margin-top: $medium-space;
  padding-bottom: $small-space;
  /*padding-top: $medium-space;*/
  overflow: hidden;
  li {
    margin-bottom: 0.3125rem;
  }
  li a {
    color: $gray;
    cursor: pointer;
    font-size: $font-size-sm;
    text-transform: capitalize;
    &:hover {
      color: $brand-primary-hover;
    }
  }
}
.links {
  .collapse {
    display: inherit;
  }
}

.copyright {
  opacity: 0.6;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
}


@include media-breakpoint-down(sm) {
  .block_newsletter {
    border-bottom: 1px solid $footer-border-color;
  }
  .footer-container {
    box-shadow: none;
    margin-top: 0;
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .links {
      .h3 {
        line-height: 1.5;
        font-size: 1rem;
      }
      ul {
        background-color: $gray-lighter;
        margin-bottom: 0;
        > li {
          /*padding: 0.625rem;*/
          padding: 0.625rem 15px;
          border-bottom: 1px solid $menu-border-color;
          font-weight: $font-weight-bold;
          a {
            color: $gray-darker;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
  .links {
    .collapse {
      display: none;
      &.in {
        display: block;
      }
    }
    .title {
      /*padding: 0.625rem;*/
      padding: 0.625rem 15px;
      border-bottom: 1px solid $footer-border-color;
      cursor: pointer;
      .collapse-icons .remove {
        display: none;
      }
    }
    .title[aria-expanded="true"] .collapse-icons {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
    margin-top: 0.625rem;
    li {
      background-color: $social-background;
      a {
        color: transparent;
      }
    }

  }
  .block-contact {
    padding-left: 1.5rem;
  }
}
