mdc-select {
  // --theme-color: #67C8C2;
  --theme-color: rgba(142, 142, 142, .8);;
  --label: rgba(0, 0, 0, .6);
  --border-color: rgba(142, 142, 142, .2);
  --border-color-hover: rgba(142, 142, 142, 1);
  --bgcolor: rgba(245, 245, 245, .5);
  --bgcolor-hover: rgba(245, 245, 245, 1);
}